
main {
    width: 734px;
    height: 100%;
    margin: -8px 0 0 31%;
    background: rgba(0, 174, 201, 0.21);
    font-family:"Arial Black";
}

header{
    height: 70px;
    background-image: url("Asset/Banniere.jpg");
    background-size: cover;
}

h1 {
    margin: 0 0 0 10px;
    color: rgba(255, 255, 255, 0.71);
    position: absolute;
}

.intro{
    margin: 40px 0 0 10px;
    color: rgba(255, 0, 0, 0.72);
    position: absolute;
    font-style: italic;
    font-family: "Arial Black";
}

article{
    width: 22%;
    font-size: 10px;
    text-align: center;
}

.flex{
    display:  flex;
    flex-direction: row;

}

h2 {
    margin-top: 0;
    background: rgba(128, 128, 128, 0.17);
    font-size: large;
    text-align: center;
}

h3{
    font-size: medium;
    font-family: Arial;
}

.downHead{
    border-right: 1px solid rgba(255, 0, 0, 0.51);
    margin-left: 10px;
    padding-right: 13px;
}

#left {
    position: absolute;
    width: 300px;
    height: 700px;
    margin: 40px 0 0 50px;
    border: 1px solid #808080;
    text-align: center;
}

#rigth {
    position: relative;
    width: 300px;
    height: 700px;
    margin: 40px 0 0 380px;
    border: 1px solid #808080;
    text-align: center;
}


p {
    margin: 0px 5px 15px 10px;
    padding: 2px;
    font-size: small;
    font-family: "Arial";
}

i{
    font-family: "fantasy";
    font-size: medium;
}

footer{
    margin-top: 7%;
    text-align: center;
}
